<a href="https://colab.research.google.com/github/StavroK/MtySaturdayAI2020/blob/master/Fakenews_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
!ls

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory

# New Section

# New Section

In [0]:
import shutil
shutil.rmtree('/content/PNC1')

**Data Set Analysis**

In this step we will check for a balanced data so we can train the machine learning models without oversampling or undersampling classes. If we see some bias towards one class we need to apply techniques to manage this issue with our data set.

First step is to check if we have all Python packages we need be using to visualize the characteristics of the dataset to check for class balance, and install those missing if any. We will need to join files containing labeling of examples to content of articles for our purpose.


We want to check for: 1. Number of examples in each class, 2. Total Percentage of examples in each class, 3. Distribution of the lenght of each example as we will use its word content to train for classification.

In [0]:
# This command will show you the "Location" of your package
# I am using numpy as is the most common package 
! pip show numpy

In [0]:
# use this other command to list all files under "Location"
# we are checking for the following packages
# altair - enables to build histogram for class representation in examples
# matplotlib - extension of NumPy enables you to embed plots into applications
# pandas - used to clean, transform, manipulate and analize data
# pickle - used to convert a python object into a character stream
# pip - used to manage installation and updates of python packages
# seaborn - based on matplotlib is used to vizualize example lenght by category 
# warnings - used to hide warinings coming from seaborn package
! ls /usr/local/lib/python3.6/dist-packages

In [0]:
# If you are missign a package use this command to install
# remember to be in your distribution packages folder used by colab 
# before you run the instalation command

%cd /usr/local/lib/python3.6/dist-packages

# use these commands to install and check installation
# ! pip install nameofpackage
# ! pip show nameofpackage

! pip install warn
! pip show warn

Now that we have secured environment requirements for python packages that will be declared in the code, next we will import them into the program

In [0]:
import altair as alt
import matplotlib.pyplot as plt
import pandas as pd
import pickle as pkl
import seaborn as sns
import warnings

We want to check for: 1. Number of examples in each class, 2. Total Percentage of examples in each class, 3. Distribution of the lenght of each example as we will use its word content to train for classification.

Data is already included in /content/FakeNews folder. Data is already separated by example content and labeled files, and also in train, test and demo files to keep process clean.

In [0]:
%cd /content/FakeNews/

file_train_instances = "train_stances.csv"
file_train_bodies = "train_bodies.csv"
file_test_instances = "test_stances_unlabeled.csv"
file_test_bodies = "test_bodies.csv"
file_predictions = 'predictions_test.csv'

In [0]:
import pandas as pd
examples_df=[]
trainbodies_df = []
trainstances_df = []
testbodies_df = []
teststances_df = []
comptestbodies_df = []
comptestbodies_df = []

trainbodies_df = pd.read_csv('/content/FakeNews/train_bodies.csv',
                             keep_default_na=False, na_values=[""])
trainstances_df = pd.read_csv('/content/FakeNews/train_stances.csv',
                             keep_default_na=False, na_values=[""])
testbodies_df = pd.read_csv('/content/FakeNews/test_bodies.csv',
                             keep_default_na=False, na_values=[""])
teststances_df = pd.read_csv('/content/FakeNews/test_stances_unlabeled.csv',
                             keep_default_na=False, na_values=[""])
comptestbodies_df = pd.read_csv('/content/FakeNews/competition_test_bodies.csv',
                             keep_default_na=False, na_values=[""])
compteststances_df = pd.read_csv('/content/FakeNews/competition_test_stances.csv',
                             keep_default_na=False, na_values=[""])

In [0]:
print("Total stances: " + str(len(trainbodies_df)))
print("Total bodies: " + str(len(trainstances_df)))

Total stances: 1683
Total bodies: 49972

In [0]:
trainbodies_df.columns

Index(['Body ID', 'articleBody'], dtype='object')

In [0]:
trainbodies_df.sort_values(by='Body ID')
trainbodies_df.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [0]:
trainstances_df.columns

Index(['Headline', 'Body ID', 'Stance'], dtype='object')

In [0]:
trainstances_df.sort_values(by='Body ID')
trainstances_df.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [0]:
train_df = pd.merge(trainbodies_df,trainstances_df, on="Body ID")

In [0]:
train_df.columns

Index(['Body ID', 'articleBody', 'Headline', 'Stance'], dtype='object')

In [0]:
train_df.head()

   Body ID  ...     Stance
0        0  ...  unrelated
1        0  ...  unrelated
2        0  ...  unrelated
3        0  ...  unrelated
4        0  ...  unrelated

[5 rows x 4 columns]

In [0]:
train_df.tail()

       index_x  ...  Stance
49967     1682  ...   agree
49968     1682  ...   agree
49969     1682  ...   agree
49970     1682  ...   agree
49971     1682  ...   agree

[5 rows x 6 columns]